<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/cd20a3b6e8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
</head>
<body>
    <div class="nav-bar">
        <img src="../images/logo.png" class="nav-logo" >
        <a class="signout" href="/login/logout"><i class="fas fa-sign-out-alt"></i></a>
    </div>

    <div class="sve">
        <div class="sve-unutra">
            <h1>Admin's Dashboard</h1>
            <div class="kartice">
                <div class="kartica">
                    <h2>Users Options</h2><br>
                    <a href="admin/userOptions"><img src="../images/users.ico"></a>
                </div>
                <div class="kartica">
                    <h2>Statistic</h2>
                    <a href="admin/statistic"><img src="../images/statistic.png"></a>
                </div>
                <div class="kartica">
                    <h2>Page Options</h2>
                    <a href="admin/pageOptions"><img src="../images/options.png"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
