<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/svi.css' />
    <script src="https://kit.fontawesome.com/cd20a3b6e8.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="nav-bar">
    <a href="/home"> <img src="/../images/logo.png" class="nav-logo" ></a>

</div>
<div class="kartice">
    <h1>DOBRODOŠLI NA E-SHOP</h1>

    <div style="display: flex;gap: 100px">
        <a href="/login"><div class="kartica">
                <h1>PRIJAVA</h1>
            </div></a>
        <a href="/register"><div class="kartica">
                <h1>REGISTRACIJA</h1>
        </div></a>
    </div>
</div>
</body>
</html>
